.sidebar {
  background-color: #024332;

  border-right: 0.5px solid rgb(230, 227, 227);
  height: 100vh;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 15%;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  margin:0;

  overflow-y: hidden;


  transform: translateX(-100%);
  opacity: 0;
  position: absolute;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 32px;
      font-weight: bolder;
      color: #E9E8E8;


    }

    hr {
      height: 0;
      border: 0.5px solid rgb(230, 227, 227);
    }
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 10px;
      padding: 0;

      .title {
        font-size: 16px;
        font-weight: bold;
        color: #E9E8E8;
        margin-top: 15px;
        margin-bottom: 10px;
      }

      .icon, img {
        color: #E9E8E8;
        padding-left: 10px;
        padding-right: 15px;
      }



      li {
        display: flex;
        align-items: center;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 7px;
        padding-left: 40px;
        color: #E9E8E8;
        font-size: 21px;
        margin: 3px;
        cursor: pointer;

        &:hover {
          background-color: #3D8361;
          border-radius: 12px;
        }

      }
    }
  }
}


.nav-bar-active {
  transform: translateX(0%);
  opacity: 1;
  position: sticky;
  position: -webkit-sticky;
}