.doctor {
  display: flex;
  width: 100%;

  .navDoctorContainer {
    flex: 6;

    .doctorContainer {
      width: 98%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 1%;
      justify-content: center;

      .header {
        height: 100px;
        width: 100%;
        margin-bottom: 20px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border-radius: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
      }

      .doctorCard-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .doctorCard {
          width: 410px;
          height: 250px;
          margin: 10px 15px;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          border-radius: 12px;
          display: flex;
          flex-direction: column;
          position: relative;
          justify-content: space-between;
          padding: 10px;

          h2 {
            font-size: 25px;
            margin: 0;
            align-self: flex-start;
          }

          .timestamp {
            font-size: 15px;
            color: red;
            position: absolute;
            top: 20px;
            right: 20px;
          }

          p {
            font-size: 15px;
            margin: 0;
          }

          .buttonContainer {
            display: flex;
            justify-content: center;
            align-items:center;
          }

          .oneLongButton { width:100%;
            padding: 7px 20px;
            font-size:16px;
            font-weight:bold;
            background-color: #024332;
            color:white;
            border:none;
            border-radius:5px;

            &:hover{
              background-color: #4caf50;
            }
            // margin-top: 20px;
            // display: inline-block;
            // padding: 10px 50px;
            // font-size: 1rem;
            // text-align: center;
            // color: #fff;
            // background-color: #4caf50;
            // border: none;
            // border-radius: 5px;
            cursor: pointer;
          }

          // button:nth-of-type(2) {
          //   background-color: #024332;
          //   margin-left: 10px;
          // }
        }

      }
    }
  }
}