.new {
    width: 100%;
    display: flex;

    .newContainer {
        flex: 6;

        .patient-app {
            font-family: sans-serif;
            text-align: center;

            .patientDetailsCard {
                width: calc(94% - 42px);
                margin: 3%;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 20px;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 5px 5px 10px 5px rgba(201, 201, 201, 0.47);

                .patientDetailsCardContent {
                    display: grid;
                    grid-template-columns: 1.4fr 0.6fr;
                    align-items: center;

                    .cardButtons {
                        display: flex;
                        flex-direction: column;

                        button {
                            background-color: #059862;
                            color: white;
                            border: none;
                            border-radius: 5px;
                            padding: 10px;
                            width: 70%;
                            align-self: flex-end;
                            justify-self: bottom;
                            margin-bottom: 10px;
                            cursor: pointer;
                            font-weight: bold;
                        }

                        .btnDesign:hover {
                            background-color: rgba(139, 195, 74, 0.7);
                        }
                    }

                    .cardTextContainer {
                        flex: 1 1 auto;
                        display: flex;
                        align-items: left;
                        flex-direction: column;
                        margin-right: 20px;


                        .cardHeader {
                            display: flex;
                            align-content: flex-start;
                            margin-top: 0;

                            margin-bottom: 15px;
                        }

                        .cardTags {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            width: 90%;

                            span {
                                background-color: #F7F5FA;
                                border: 1px solid #CDC7D8;
                                border-radius: 10px;
                                padding: 5px 10px;
                                margin-right: 10px;
                                margin-bottom: 10px;

                            }

                            span:nth-child(2n) {
                                margin-right: 0;
                            }

                        }

                        #tag6 {
                            display: flex;
                            align-items: left;
                        }

                    }

                }

            }


            #popup {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);

                form {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 400px;
                    padding: 20px;
                    background-color: white;
                    border-radius: 10px;
                    margin: 15px auto;

                    label {
                        display: block;
                        margin-bottom: 5px;
                    }

                    input[type="text"] {
                        width: 100%;
                        padding: 5px;
                        margin-bottom: 10px;
                        border-radius: 3px;
                        border: none;
                        box-shadow: inset 0 0 0 1px lightgray;
                    }

                    button[type="submit"] {
                        background-color: #059862;
                        color: white;
                        border: none;
                        padding: 5px 10px;
                        border-radius: 3px;
                        cursor: pointer;
                        margin: 8px 40%;
                    }

                }
            }

            // scss for add logs popup
            .popupAddLogs {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 999;
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
                width: 80%;


                .formAddLogs {

                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    .form-row {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 10px;

                        .labelAddLogs {
                            font-weight: bold;
                            margin-bottom: 10px;
                            text-align: start;
                            flex: 1;
                            width: 100%;
                        }

                        .inputssy {
                            flex: 3;
                            padding: 5px;
                            border-radius: 5px;
                            border: 1px solid #ccc;
                            width: calc(100% - 12px);
                        }
                    }

                    .button-row {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 20px;

                        .AddLogsBtn {
                            margin: 0 10px;
                            padding: 10px 50px;
                            border-radius: 5px;
                            border: none;
                            cursor: pointer;
                            font-size: 14px;
                        }


                        .AddLogsBtn[type="submit"] {
                            background-color: #5cb85c;
                            color: #fff;
                        }

                        .AddLogsBtn[type="button"] {
                            background-color: #ccc;
                            color: #fff;
                        }
                    }
                }
            }

            // scss for log cards
            .logsCard {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 94%;
                margin: 3%;

                .cardContainer {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100%;

                    .logKey {
                        width: calc(50% - 10px);
                        margin-bottom: 20px;
                        border: 1px solid #ccc;
                        border-radius: 5px;

                        .cardHeader {
                            border-radius: 5px 5px 0 0;
                            padding: 0.5rem;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 1px solid #ccc;
                            background-color: #024332;

                            .timestamp {
                                text-align: center;
                                width: 100%;
                                margin: 0;
                                font-size: 1.2rem;
                                color: #fff;

                            }
                        }

                        .cardDetails {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            gap: 0.5rem;
                            padding: 0.5rem;

                            p {
                                margin: 0;
                                padding: 6px;
                                font-size: 1.4rem;
                                line-height: 1.2;
                                border: 1px solid black;
                                border-radius: 5px;
                                background-color: #F7F5FA;
                            }
                        }
                    }
                }

            }

        }
    }
}