.mainContainer {
  display: flex;
  width: 100%;

  .ekAurClass {
    flex: 6;

    .container {
      width: 98%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 1%;
      justify-content: center;
      text-align:center;
  }

  }

}