* {
  font-family: "Montserrat", sans-serif;
}

.home {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .homeContainer {
    background-color: white;
    flex: 6;
    // display: grid;

    // grid-template-areas:
      // 'nav1 nav1 nav1 nav1'
      // 'wid1 wid2 wid3 wid4'
      // 'chart1 chart1 chart2 chart2'
      // 'chart1 chart1 chart2 chart2'
      // 'table1 table1 table1 table1';


    // &:first-child {
    //   grid-area: nav1;
    // }

    .widgets,
    .charts {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }



    .tableContainer {
      margin: 20px;
      padding: 20px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

      .tableTitle {
        font-weight: bold;
        color: gray;
        margin-bottom: 15px;
      }


    }

  }
}